<div class="questions-block">
  <div class="questions-block-title">Часто задаваемые вопросы</div>
  <div class="questions-block-question">Как правильно выбрать окно?</div>
  <div class="questions-block-question">
    Почему заказывать у частников рискованно?
  </div>
  <div class="questions-block-question">
    От чего зависит качество монтажа окон?
  </div>
  <div class="questions-block-question">Как понять, какое окно теплое?</div>
  <div class="questions-block-question">
    Почему сроки доставки и установки могут быть нарушены?
  </div>
  <div class="questions-block-question">Будет ли грязно во время монтажа?</div>
  <div class="questions-block-question">
    Как пользоваться щелевым проветриванием и МДО?
  </div>
  <div class="questions-block-question">
    Что делать, если окно открылось сразу в двух положениях?
  </div>
  <div class="questions-block-question">Как установить москитную сетку?</div>
  <div class="questions-block-question">
    Что можно сделать с окном для детской безопасности?
  </div>
  <div class="questions-block-question">
    Чем отличается взломостойкая фурнитура от обычной?
  </div>
  <div class="questions-block-question">
    Для чего нужен роликовый приподниматель «Микролифт»?
  </div>
</div>
