{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media600.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media1240.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=thumb_up" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="https://okonti.ru/upload/resize_cache/webp/local/templates/okonti/assets/favicon/apple-touch-icon.webp" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://okonti.ru/upload/resize_cache/webp/local/templates/okonti/assets/favicon/favicon-32x32.webp" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://okonti.ru/upload/resize_cache/webp/local/templates/okonti/assets/favicon/favicon-16x16.webp" />
    <!-- <link rel="manifest" href="https://okonti.ru/local/templates/okonti/assets/favicon/site.webmanifest" /> -->
    <!-- <link rel="shortcut icon" href="https://okonti.ru/local/templates/okonti/assets/favicon/favicon.ico" /> -->

    <title>{{ order.number }}</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <header>
          <div class="header-logo">
            <div>
              <img src="{% static '/img/header-logo.svg' %}" alt="logo" class="logo" />
            </div>
            <div class="header-text">
              Офис продаж: {{ order.office.name }} - {{ order.office.address }} </br> Менеджер:
              {{ order.manager.name }} - {{ order.manager.phone }}
            </div>
          </div>
        </header>

        <div class="estimate">Смета №{{ order.number }}</div>
        <div class="pricing">
          <div class="old-price">{{ order.old_price |currency }}</div>
          <div class="new-price">{{ order.new_price |currency }}</div>
        </div>
        <div class="alert-message">
          Внимание! Срок действия предложения ограничен
        </div>
        <div class="goods">
          <div class="aperture">
            <div>
              <div class="goods-page-title">Изделия</div>
              <div class="goods-top-wrapper">
                <!-- |slice:"1:4"                 -->
                     {% for product in products %}
                        <div class="goods-item">
                            <div class="aperture-text">Проём {{ product.identifier }}</div>
                            <div class="aperture-container">
                              <div class="top-goods-container">
                                  <div>
                                    <div class="top-goods-item">
                                      <div class="goods-title">Оконная система</div>
                                      <div class="goods-text">
                                        <div class="goods-name">{{ product.system }}</div>
                                      </div>
                                    </div>

                                    <div>
                                      <div class="goods-title">Оконная серия</div>
                                      <div class="goods-text">
                                        <div class="goods-name">{{ product.series }}</div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="picture-block">
                                    <img
                                    alt=""
                                    class="window-img"
                                    src="data:image/png;base64, {{product.image}} "
                                    />
                                    <img
                                    src="{% static 'img/expand.svg' %}"
                                      alt=""
                                      class="expand-img"
                                      onclick="toggleImage()"
                                    />
                                    <div class="modal" id="imageModal">
                                      <span class="close" onclick="closeImage()">&times;</span>
                                      <img
                                        alt=""
                                        class="expand-img-full"
                                        src="data:image/png;base64, {{product.image}}"
                                      />
                                    </div>
                                  </div>
                            </div>

                            <div class="advantages-container">
                              {% for option in product.options.all %}
                                <div class="advantages">
                                  <div class="advantages-wrapper">
                                    <img
                                      src="{% static 'img/check-mark.svg' %}"
                                      alt=""
                                      class="check-mark-img"
                                    />
                                    <div class="advantages-text">{{option.name}}</div>
                                  </div>
                                </div>
                              {% endfor %}
                            </div>

                            <!-- table 600px -->

                          <table class="aperture-table">
                            <tbody>
                              <tr>
                                <td class="aperture-table-td">Габариты проёма:</td>
                                <td>{{ product.width }}×{{ product.height }}</td>
                              </tr>
                              <tr>
                                <td class="aperture-table-td">Цвет основания:</td>
                                <td>{{ product.base_color }}</td>
                              </tr>
                              <tr>
                                <td class="aperture-table-td">Цвет внутренний:</td>
                                <td>{{ product.inner_color }}</td>
                              </tr>
                              <tr>
                                <td class="aperture-table-td">Цвет внешний:</td>
                                <td>{{ product.outer_color }}</td>
                              </tr>
                              <tr>
                                <td class="aperture-table-td">Количество:</td>
                                <td>{{ product.quantity }}</td>
                              </tr>

                              <tr class="table-price-block">
                                <td class="table-total">Стоимость:</td>
                                <td class="aperture-table-price">{{ product.cost|default:0 }} ₽</td>
                              </tr>
                            </tbody>
                          </table>

                          </div>
                        </div>
                    {% empty %}
                    <div class="goods-item">Нет продуктов в этом заказе.</div>
                    {% endfor %}
              </div>
            </div>
      <!--  -->
      <div class="additional-goods-container">
        <div class="aperture-text-bold">Дополнительные изделия</div>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th class="table-1-col-1">Наименование</th>
              <th class="count table-1-col-2">Кол-во</th>
              <th class="table-1-col-3">Стоимость</th>
            </tr>
          </thead>
          <tbody>
            {% for additional in additionals %}
            <tr>
              <td class="table-1-col-1">{{ additional.name }}</td>
              <td class="table-1-col-2">{{ additional.quantity }}</td>
              <td class="table-1-col-3">{{ additional.cost |currency }}</td>
            </tr>
            {% endfor %}
            <tr>
              <td class="table-1-col-1 table-total">Итого:</td>
              <td class="table-1-col-2 table-td-empty"></td>
              <td class="table-1-col-3 table-total-price">{{ total_additionals_cost |currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>

      <!--  -->
      <div class="services-container">
        <div class="aperture-text-bold">Услуги</div>

        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th class="table-2-col-1">Наименование</th>
                <th></th> <!-- Empty header for alignment -->
                <th class="table-2-col-3">Стоимость</th>
              </tr>
            </thead>
            <tbody>
              {% for service in services %}
                <tr>
                  <td class="table-2-col-1">{{ service.name }}</td>
                  <td></td> <!-- Empty cell for alignment -->
                  <td class="table-2-col-3"> {{ service.cost |currency }}</td>
                </tr>
              {% endfor %}
              <tr>
                <td class="table-2-col-1 table-total">Итого</td>
                <td class="table-td-empty"></td>
                <td class="table-2-col-3 table-total-price">{{ total_services_cost |currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
       </div>

            <!--  -->
          </div>
        <!-- rate us -->
        <div class="rate-us">
          <div class="rate-us-wrapper">
            <div class="rate-us-title">
              Пожалуйста, оцените наше предложение
            </div>
            <div class="rate-us-buttons-container">
              <button class="rate-us-button" id="like-button"
                      data-order-uuid="{{ order.uuid }}"
                      data-like-img="{% static 'img/like-dislike-filled.png' %}"
                      data-dislike-img="{% static 'img/like-dislike.png' %}">
                <img src="{% if order_rating.liked %}{% static 'img/like-dislike-filled.png' %}{% else %}{% static 'img/like-dislike.png' %}{% endif %}"
                     style="width:25px" alt="like"/>
                <span class="rate-us-button-text">Нравится</span>
              </button>

              <button class="rate-us-button" id="dislike-button"
                      data-order-uuid="{{ order.uuid }}"
                      data-like-img="{% static 'img/like-dislike.png' %}"
                      data-dislike-img="{% static 'img/like-dislike-filled.png' %}">
                <img src="{% if not order_rating.liked %}{% static 'img/like-dislike-filled.png' %}{% else %}{% static 'img/like-dislike.png' %}{% endif %}"
                     alt="like" style="width:25px" class="rate-us-img"/>
                <span class="rate-us-button-text">Не нравится</span>
              </button>
            </div>
          </div>
        </div>

        {% if order.order_pdf %}
            <a href="{{ order.order_pdf.url }}" class="get-estimate-button" download>
                <img src="{% static 'img/download.svg' %}" alt="like" class="download" />
                <span class="rate-us-button-text">Получить смету в PDF</span>
            </a>
        {% endif %}

        {% include 'components/faq.html' %}
      </div>
      <div class="footer">
        <div class="footer-container">
          <div class="footer-logo">
            <img src="{% static 'img/footer-logo.svg' %}" alt="logo" class="logo" />
          </div>
          <div class="footer-adress">
            <div class="footer-adress-juristic">Юридический адрес</div>
            <p class="footer-adress-text">
              142279, Московская область, Серпуховский район, рабочий поселок
              Оболенск, корпус 72. <div class="footer-ogrn">ОГРН: № 1087746612623 от 07 мая 2008 года.</div>
            </p>
          </div>
          <div class="footer-contacts">
            <div class="footer-contacts-title">Контакты</div>
            <div class="footer-contacts-item">
              <a href="tel:+79651234567">+7 (965) 123-45-67</a>
            </div>
            <div class="footer-contacts-item">
              <a href="mailto:info@okonti.ru" >info@okonti.ru</a>
            </div>
            <div class="footer-contacts-item">
              <a href="https://okonti.ru/">okonti.ru</a>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          © Оконный континент 2022. Все права защищены.
        </div>
      </div>
      <div class="footer-tablet">
        <div class="footer-logo">
          <img src="{% static 'img/footer-logo.svg' %}" alt="logo" class="logo" />
        </div>
        <div class="footer-container">
          <div class="footer-adress">
            <div class="footer-adress-juristic">Юридический адрес</div>
            <p class="footer-adress-text">
              142279, Московская область, Серпуховский район, рабочий поселок
              Оболенск, корпус 72. </br> ОГРН: № 1087746612623 от 07 мая 2008 года.
            </p>
          </div>
          <div class="footer-contacts">
            <div class="footer-contacts-title">Контакты</div>
            <div class="footer-contacts-item">
              <a href="tel:+79651234567">+7 (965) 123-45-67</a>
            </div>
            <div class="footer-contacts-item">
              <a href="mailto:info@okonti.ru" >info@okonti.ru</a>
            </div>
            <div class="footer-contacts-item">
              <a href="https://okonti.ru/">okonti.ru</a>
            </div>
          </div>
          <div class="footer-copyright">
            © Оконный континент 2022. Все права защищены.
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    <script>
      // Функция для отправки данных оценки на сервер
      function rateOrder(orderUUID, liked) {
          fetch(`/rate-smeta/${orderUUID}/`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            },
            // Тело запроса - данные для отправки (статус лайка)
            body: JSON.stringify({ "liked": liked })
          })
          .then(response => response.json())
          .catch(error => console.error('Ошибка:', error));
      }

      document.getElementById('like-button').addEventListener('click', function() {
        rateOrder('{{ order.uuid }}', true);

        document.getElementById('like-button').querySelector('img').src = "{% static 'img/like-dislike-filled.png' %}";
        document.getElementById('dislike-button').querySelector('img').src = "{% static 'img/like-dislike.png' %}";
      });

      document.getElementById('dislike-button').addEventListener('click', function() {
        rateOrder('{{ order.uuid }}', false);

        document.getElementById('like-button').querySelector('img').src = "{% static 'img/like-dislike.png' %}";
        document.getElementById('dislike-button').querySelector('img').src = "{% static 'img/like-dislike-filled.png' %}";
      });
    </script>
  </body>
</html>
